<!-- app/views/incidents/index.html.erb -->
<div class="container mx-auto mt-8">
  <h1 class="text-2xl font-semibold mb-4"><%= @welcome_message %></h1>
  <h2 class="text-lg font-medium mb-2 ">Latest Incidents</h2>
  <ul class="list-disc pl-6">
    <% @incidents.each do |incident| %>
      <li>
        <%= link_to incident.title, incident_path(incident) %>
        (Severity: <%= incident.severity %>)
      </li>
    <% end %>
  </ul>
</div>
