<div class="p-2 bg-white w-full md:w-60 flex flex-col md:flex hidden" id="sideNav">
    <nav>
        <a id="home" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/">
            <i class="fas fa-home mr-2"></i> Home
        </a>
        <a id="dailyreport" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/daily_report">
            <i class="fas fa-file-alt mr-2"></i> Daily Report
        </a>
        <a id="medical_supplies" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/medical_supplies">
            <i class="fas fa-house-medical mr-2"></i>Inventory Supply
        </a>
        <a id="medicines" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/medicines">
            <i class="fas fa-capsules mr-2"></i>Inventory Medicine
        </a>
        <a id="export_reports" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/export_reports">
            <i class="fas fa-download mr-2"></i><%= "Export Today's report".html_safe %>
        </a>

        <a id="new_supply" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-blue-500  hover:text-white" href="/set_new">
            <i class="fas fa-cart-plus mr-2"></i>New Supply
        </a>
    </nav>
    <div class="mt-auto"> 
    <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, :method => :get , class: "block text-red-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-yellow-500 hover:text-white" do %> 
        <i class="fas fa-sign-out-alt mr-2"></i> Sign Out
        <%end%>
    <%end%>
    <p class="mb-1 px-4 py-3 text-left text-xs text-cyan-500" style="margin-top:-20px">Inventory Monitoring @ 2023</p>
    </div>
</div>

