<div class="p-2 bg-white w-full md:w-60 flex flex-col md:flex hidden" id="sideNav">
    <nav>
        <a id="home" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-yellow-500  hover:text-white" href="/">
            <i class="fas fa-home mr-2"></i> Home
        </a>
        <a id="incidents" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-yellow-500  hover:text-white" href="/open_incidents">
            <i class="fas fa-file-alt mr-2"></i> Incidents
        </a>
        <a id="resolved" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-yellow-500  hover:text-white" href="/resolved_incidents">
            <i class="fas fa-users mr-2"></i>Closed Incidents
        </a>
        <a id="history" class="block text-gray-500 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-yellow-500 hover:text-white" href="/lists">
            <i class="fas fa-store mr-2"></i> History
        </a>
    </nav>

    <a class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-yellow-500 hover:text-white mt-auto" href="#">
        <i class="fas fa-sign-out-alt mr-2"></i> Logout
    </a>
    <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mt-2"></div>
    <p class="mb-1 px-5 py-3 text-left text-xs text-cyan-500">Christian Patrick Suntay@2023</p>

</div>

